.logo__rect{
    z-index: 2;
    position: absolute;
    transform: translate( 2rem, 6.2rem ) rotate(20deg);

    opacity: 0;
    width: 1.5rem; height: 1.5rem;
    background-color: #d4c645;

    animation: 3s logo-rect ease-in-out forwards;
}