.main-sidebar-section{
    grid-area: 'main-sidebar';

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-sidebar-section__categories{
    width: 80%;
    font-size: 1rem;
    background-color: rgba(0,0,0,.1);
    padding: .5rem 1rem;
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(121, 23, 23, 0.25);
}
.main-sidebar-section__categories > h4{
    display: flex;
    align-items: center;
    padding: .5rem 0 1rem;
}
.main-sidebar-section__categories > h4 > svg{
    margin: 0 .5rem 0 .5rem;
}
