.main-sidebar-element{
    position: relative;
    padding-left: .5rem;
}
.main-sidebar-element > a{
    display: flex;
    align-items: center;
    font-size: .7rem;
    text-transform: uppercase;
    color: #333;
    transition: color .1s ease-in-out;
    padding: .8rem 0;
}
.main-sidebar-element > a:hover{
    color: #7faeeb;
}